body {
  background-image: url("birdsout.jpg");
  background-size: cover;
  color: rgb(4, 4, 138);
}

.container {
  width: 75%;
  margin: auto;
  padding-bottom: 100px;
  height: 100%;
  background-color: hsla(180, 55%, 85%, 0.3);
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

#viola-teacher {
  width: 200px;
  border: 3px solid rgb(18, 138, 243, 50%);
  margin-bottom: 0.5em;
}

h1 {
  margin-top: 2rem;
  font-family: "Merienda", cursive;
  text-shadow: 3px 3px 3px #ababab;
  color: rgb(18, 138, 243);
  animation: moveInRight;
  animation-duration: 5s;
}

p {
  font-size: 1.52em;
  /* background-color: hsla(208, 65%, 80%, 30%); */
  width: 75%;
  font-weight: 400;
  color: rgb(4, 4, 138);
}
.small {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: rgb(4, 4, 138);
}
a:hover {
  background-color: rgb(119, 247, 127, 25%);
  text-decoration: none;
  color: rgb(245, 252, 160, 75%) !important;
}

#hover:hover {
  background-color: rgb(119, 247, 127, 25%);
  text-decoration: none;
  width: 100px;
}

.acolor {
  color: rgb(18, 138, 243, 100%);
}

a:active {
  font-size: 150%;
  text-decoration: none;
}

a:link {
  color: rgb(18, 138, 243, 100%);
}

#Joel-Rudin-bio {
  display: block;
  width: 80%;
  margin-left: 5%;
  padding-left: 3%;
  background-color: hsla(180, 53%, 89%, 0.5);
  margin-bottom: 5%;
  animation: moveInButton;
  animation-duration: 5s;
}

#Joel-Rudin-bio-tile {
  display: block;
  width: 80%;
  margin-left: 5%;
  padding-left: 3%;
}

audio:hover {
  transform: scale(1.1);
  filter: drop-shadow(2px 3px 3px #333);
  background-color: rgb(208, 240, 208);
}

audio::-webkit-media-controls-panel {
  background-color: hwb(91 81% 2%);
}

audio {
  width: 12rem;
  box-shadow: 5px 10px rgb(134, 212, 244, 0.3);
  border-radius: 25px;
}

details {
  margin-left: 5%;
  margin-bottom: 1em;
  color: rgb(4, 4, 138);
}

nav,
.nav-item,
.navbar-brand,
.nav-link,
#home,
h4 {
  color: rgb(4, 4, 138);
}

.nav-item {
  margin-right: 1em;
}

.navbar-brand {
  margin-left: 2rem;
}

.navbar {
  background-color: rgb(134, 212, 244, 0.4);
  color: rgb(4, 4, 138);
}

nav {
  width: 100%;
}

.btn-link {
  text-decoration: none;
  font-size: 1.52rem;
  margin-top: -5px;
  margin-bottom: 5px;
}

#caption {
  font-size: 200%;
}

.horizAdjust {
  width: 50%;
  border: 3px solid rgb(18, 138, 243, 50%);
}

.horizAdjust {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.container:hover .horizAdjust {
  opacity: 0.6;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

#LSQ  {
   display: flex;
  justify-content: center;
  background-color: hwb(91 81% 2%);

}
